@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-Roboto_condensed;
}

p,
span,
a,
li,
input,
textarea,
button {
  @apply font-Inter;
}
.posiciondb {
  //posicionando dos contenedores en una sola columna que ocupe el 100% del vw
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}
.active {
  @apply flex w-full flex-row gap-4 bg-primary p-4 font-Roboto_condensed text-lg font-bold text-secondary;
}
.pending {
  @apply flex w-full flex-row gap-4 bg-secondary p-4 font-Roboto_condensed text-lg font-bold text-primary;
}
.normal {
  @apply flex w-full flex-row gap-4 bg-dark-900 p-4 font-Roboto_condensed text-lg font-bold text-secondary;
}
.normal:hover{
  @apply flex w-full flex-row gap-4 bg-base-100 p-4 font-Roboto_condensed text-lg font-bold text-primary ease-in duration-200;
}
.dropDownItem{
	@apply w-full flex flex-row justify-start gap-x-2 items-center p-2 rounded-md  hover:text-indigo-500;
}
